body {
	background-color: #cde4f1;
}


/* img {
	border-width: 0;
} */

img#arrow, img#arrowImg {
	width: 147px;
	height: 82px;
}

#button1, #button2 {
	width: 113px;
	height: 33px;
}

.banner-centered {
	text-align: center;
}

#adBanner {
	width: 700px;
	height: 120px;
}

.rule-center {
    margin:auto;
    width: 35%;
    border: 3px solid #366cd1;
    padding: 10px;
	margin-top: 2%;
	text-align: center;
	font-size: 23px;
  }
.restart{
	margin:auto;
	margin-top: 2%;
    width: 4%;

    padding: 10px;
	text-align: center;

  }

  .left-align {
	text-align: left;
  }
